body{
  text-align: center;
  background-image: url(Carved.png);
  background-repeat: no-repeat;
   background-size: 100%;
}
.head {
	color:black;
	font-size: 5rem;
	font-weight: 50;
	text-align: center;
	margin: 1rem 0 3rem;
	font-family: 'Lobster', cursive;}
  .hello{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }
  .input{
      padding: 0.4rem 1rem;
      outline: none;
      height: 50px;
      border-radius: 25px;
      width: 350px;
      margin: 0.25rem;
      transition: .5s;
      font-size: 1.15rem;
      border: solid;
      border-color: lime;}

.submit{
	outline:solid:black;
    border: none;
    height: 50px;
    border-radius: 40px;
    width: 50px;
    background-color: green;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}
.submit:hover{
  background-color: pink;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 3rem;


}

.item{
	padding: 0.5rem;
	border-bottom: 4px solid #fff;
	margin-bottom: 1.5rem;
}

.item_input{
	background: none;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1.4rem;
	width: 245px;
}


.remove{
	background: none;
	outline: none;
	border: none;
	color: white;
	font-size: 1.4rem;
	font-family: 'Itim', cursive;
	cursor: pointer;
}
.edit{
	background: none;
	outline: none;
	border: none;
	color: white;
	font-size: 1.4rem;
font-family: 'Itim', cursive;
	cursor: pointer;
}
